<div class="one-third column">
  <h3>What is this?</h3>
  <p>Opinion Socket is an application to make it possible to gauge the opinion
  of a population on any particular issue. It was designed to get the opinion
  of the student body on various issues at IIT Mandi.</p>
</div>

<div class="one-third column">
  <h3>How does this work?</h3>
  <p>Chances are you have stumbled upon this page accidentally. When any issue
  is being voted upon, you will recieve an email containing a secure link
  that will allow you to vote on the issue exactly once. </p>
</div>

<div class="one-third column">
  <h3>I am not getting emails.</h3>
  <p>Please send an email to <a href="mailto:c@vikhyat.net">c@vikhyat.net</a>
  if you are having any issues with receiving emails containing the secure
  voting links.</p>
</div>
